$background: rgb(0, 0, 0);
$colorFont: rgb(255, 255, 255);
$backgroundPurple: rgb(119, 0, 255);

//fontes

$fonte: "Roboto", sans-serif;
$fonteTitle: "Zain", sans-serif;
$fonteButton: "Arimo", sans-serif;